html[data-theme="dark"] {
  --BodyBgColor: #161722;
  --CardBgColor: #25273c;
  --BodyImage: url('../images/bg-desktop-dark.jpg');
  --BodyImageMobile: url('../images/bg-mobile-dark.jpg');
  --TextColor: #cacde8;
  --TextHover: #e4e5f1;
  --BorderBotom: #cacde8;
  --Color-text: #777a92;
  --btn-color: #fff;
  --input-color:#fff;
}

html[data-theme="light"] {
  --BodyBgColor: #e4e5f1;
  --CardBgColor: #fafafa;
  --BodyImage: url('../images/bg-desktop-light.jpg');
  --BodyImageMobile: url('../images/bg-mobile-light.jpg');
  --TextColor: #484b6a;
  --TextHover: #e4e5f1;
  --BorderBotom: #d2d3db;
  --Color-text: #777a92;
  --btn-color: rgb(138, 123, 123);
  --input-color:#000;
}
