  $VeryLightGray: hsl(0, 0%, 98%);
  $VeryLightGrayishBlue: hsl(236, 33%, 92%);
  $LightGrayishBlue: #d2d3db;
  $DarkGrayishBlue: #9394a5;
  $VeryDarkGrayishBlue: hsl(235, 19%, 35%);
  $BrightBlue: hsl(220, 98%, 61%);
  $CheckBackground: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);

  .dark-theme {
    $DarkVeryDarkBlue: hsl(235, 21%, 11%) !important;
    $DarkVeryDarkDesaturatedBlue: hsl(235, 24%, 19%) !important;
    $DarkLightGrayishBlue: hsl(234, 39%, 85%) !important;
    $DarkLightGrayishBlueHover: hsl(236, 33%, 92%) !important;
    $DarkDarkGrayishBlue: hsl(234, 11%, 52%) !important;
    $DarkVeryDarkGrayishBlue: hsl(233, 14%, 35%) !important;
    $DarkVeryDarkGrayishBlue: hsl(237, 14%, 26%) !important;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
  }

  // .btn-active
  .active {

    color: $BrightBlue !important;

  }


  .check-span {
    text-align: center;
    border-radius: 50%;
    padding: 5px 7px;
    border: 0.5px solid #b1acac;
    margin-right: 15px;
    background: linear-gradient(#57ddff, #c058f3);
  }

  body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $VeryLightGrayishBlue;
    height: 100vh;
    background-image: url('../images/bg-desktop-light.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
  }



  footer {
    text-align: center;
    position: sticky;
    top: 90%;
  }

  .container {
    padding: 10px;
    width: 450px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    .header {
      padding: 5px;
      display: flex;
      color: white;
      // background-color: blue;
      width: 100%;
      justify-content: space-between;
      margin: 10px 5px;

      button {
        border: none;
        background-color: inherit;
      }
    }

    form {
      width: 100%;
      margin-top: 17px;

      input {
        padding: 13px;
        width: 100%;
        border: 0px solid;
        border-radius: 5px;
        background-color: $VeryLightGray;
      }

    }

    .card {
      overflow: auto;
      width: 100%;
      height: inherit;
      // overflow: auto;
      border-radius: 5px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      background-color: $VeryLightGray;
      padding: 10px;
      margin-top: 10px;

      .list {
        width: 100%;

        .list-item {
          display: flex;
          align-items: center;
          color: $VeryDarkGrayishBlue;
          border-bottom: 0.5px solid $LightGrayishBlue;
          padding: 10px 20px;
        }

        span {
          text-align: center;
          border-radius: 50%;
          padding: 5px 7px;
          border: 0.5px solid #b1acac;
          margin-right: 15px;
        }

        .cross-span {
          padding: 0;
          margin-right: 0;

          border: none;
          margin-left: 160px;
        }
      }

      .card-footer {
        display: flex;
        justify-content: space-between;
        margin: 8px 0;

        span {
          font-size: 11px;
          color: $DarkGrayishBlue;
        }

        button {
          color: $DarkGrayishBlue;
          border: none;
          font-size: 12px;
        }

        .btn {
          display: flex;
          width: 40%;
          justify-content: space-evenly;
        }
      }
    }
  }




  .cross-span {}